<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body>
    <nav data-aos="fade-right"
    data-aos-offset="300"
    data-aos-easing="ease-in-sine"
    data-aos-duration="800">
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><a class="navbar-brand d-flex align-items-center" href="index.html">
        <img src="../../assets/img/FEH.png" class="navbar-brand-image img-fluid" alt="Tiya Golf Club">
    </a></label>

        <ul>
            <li>
                <a href="#section_1">Inicio</a>
            </li>

            <li>
                <a  href="#section_2">Historia</a>
            </li>

            <li>
                <a  href="#section_3">Quiénes somos</a>
            </li>

            <li>
                <a  href="#section_4">Programas Sociales</a>
            </li>

            <li >
                <a href="#section_6">Servicios</a>
            </li>
        </ul>
    </nav>
    <section></section>
  </body>
</html>