<h2 class="titulo">Quiénes Somos</h2>
<section class="contenedor sobre-nosotros" id="section_3">
  <div class="contenedor-sobre-nosotros">
      <img data-aos="fade-right"
     data-aos-offset="300"
     data-aos-duration="1000"
     data-aos-easing="ease-in-sine"src="../../assets/img/FEHP.png" alt="" class="imagen-about-us">
      <div class="contenido-textos">
          <h3></h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
              consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
              velit doloribus laboriosam ut.</p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                velit doloribus laboriosam ut.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                  consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                  velit doloribus laboriosam ut.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veniam eius aspernatur ad
                    consequuntur aperiam minima sed dicta odit numquam sapiente quam eum, architecto animi pariatur,
                    velit doloribus laboriosam ut.</p>
      </div>
  </div>
</section>