.cont{
    margin-left: 25%;
  
}

@media (max-width: 992px){
    .cont{
        margin-left: auto;
    }
}

.membership-section .container {
  z-index: 2;
  
}

.table-responsive {
  border-radius: var(--border-radius-medium);
}

.table-responsive tbody, 
.table-responsive td, 
.table-responsive tfoot, 
.table-responsive th, 
.table-responsive thead, 
.table-responsive tr {
  border: 0;
}

.table-responsive thead tr {
  background: linear-gradient(
    60deg,
    rgba(159,240,255,255),
    rgba(255,158,226,255) 100%
  );
  color: var(--white-color);
}

.table-responsive thead th {
  padding: 22px 16px !important;
}

.table-responsive tbody tr:nth-child(even) {
  background-color: var(--section-bg-color);
}

.table>:not(caption)>*>* {
  padding: 18px 16px;
}

.table-responsive .bi-check-circle-fill {
  color: var(--primary-color);
}

.table-responsive .bi-x-circle-fill {
  color: var(--custom-btn-bg-hover-color);
}

.membership-form {
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  padding: 35px;
}

.membership-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 100px;
}
